<section class="login">
  <form action="" class="form">
    <h1 class="heading-primary text-align-center font-weight-lighter form__h1">Connexion</h1>
    <label for="username"></label>
    <input type="text" placeholder="Username" id="username" class="form__input border-radius" required>
    <label for="password"></label>
    <input type="password" placeholder="Password" id="password" class="form__input border-radius" required>
    <button type="submit" id="form-btn" class="form__btn border-radius">Login</button>
  </form>
</section>

<div class="wrapper">
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
