<input type="checkbox" class="checkbox" id="toggle">

<div class="navbar" id="navigation">

  <div class="navbar__white-opacity">

    <div class="navbar__title"><h1 class="heading-primary text-align-center font-weight-lighter">Dashboard</h1></div>

    <hr class="navbar__hr"/>

    <ul class="navbar__list">
      <a routerLink="/dashboard"  class="navbar__list__liens"><li class="navbar__list__li">Retour des utilisateurs          </li></a>
      <a routerLink="/cards"      class="navbar__list__liens"><li class="navbar__list__li">Cartes                           </li></a>
      <a routerLink="/formations" class="navbar__list__liens"><li class="navbar__list__li">Écoles et Formations             </li></a>
      <a routerLink="/schools"    class="navbar__list__liens"><li class="navbar__list__li">Ajouter une Écoles ou Formations </li></a>
      <a href=""                  class="navbar__list__liens"><li class="navbar__list__li">Déconnexion                      </li></a>
    </ul>

  </div>

</div>
