<section class="dashboard">

<app-navigation></app-navigation>

  <div class="wrap">
    <section class="dashboard">
      <div class="card">
        <h1 class="card__title">Retour des utilisateurs</h1>
        <div class="table-content">
          <table class="card_table" style="width:100%">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Âge</th>
              <th>Mail</th>
              <th>Dernier diplôme obtenu</th>
              <th>Résultat Final</th>
              <th>Accepte-t-il de communiquer ?</th>
              <th>Contact</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Dufresne</td>
              <td>Nicolas</td>
              <td>21</td>
              <td>nicoladufresne@gmail.com</td>
              <td>BTS Système numérique Informatique</td>
              <td>Nfactory School</td>
              <td>Oui</td>
              <td>
                <button class="edit">Envoyer un mail</button>
              </td>
              <td>
                <button>Supprimer</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>

</section>
