<section class="dashboard">

<app-navigation></app-navigation>

  <div class="wrap">

      <div class="card">

        <h1 class="card__title">Retour des utilisateurs</h1>

        <div class="table-content">

          <table class="card_table" style="width:100%">

            <thead>
              <tr>
                <th class="th-dashboard">Id</th>
                <th class="th-dashboard">Nom</th>
                <th class="th-dashboard">Prénom</th>
                <th class="th-dashboard">Âge</th>
                <th class="th-dashboard">Mail</th>
                <th class="th-dashboard">Dernier diplôme obtenu</th>
                <th class="th-dashboard">Résultat Final</th>
                <th class="th-dashboard">Accepte-t-il de communiquer ?</th>
                <th class="th-dashboard">Contact</th>
                <th class="th-dashboard">Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>

              <tr>
                <td>1</td>
                <td>Dufresne</td>
                <td>Nicolas</td>
                <td>21</td>
                <td>nicoladufresne@gmail.com</td>
                <td>BTS Système numérique Informatique</td>
                <td>Nfactory School</td>
                <td>Oui</td>
                <td><button class="edit">Envoyer un mail</button></td>
                <td><button>Supprimer</button></td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>

  </div>

</section>
