<section class="formations-schools">

  <app-navigation></app-navigation>

  <div class="wrap">

    <section class="dashboard">

      <div class="card">

        <h1 class="card__title">Écoles et Formations</h1>

        <div class="table-content">
          <table class="card_table" style="width:100%">

            <thead>
              <tr>
                <th class="th">Id</th>
                <th class="th">École</th>
                <th class="th">Formation</th>
                <th class="th">Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Nfactory School</td>
                <td>Bachelor Developpeur Web et Formation Référent Digital</td>
                <td>
                  <button>Supprimer</button>
                </td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>

    </section>

  </div>

</section>
