<section class="cards">

  <app-navigation></app-navigation>

  <div class="wrap">

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <h1 class="text-align-center">Créer une nouvelle carte</h1>
        <div class="cards-effect__img">
          <img src="" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="titre" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Description"
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Créer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation."
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation."
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" id="titre" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation." id="description"
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" id="titre" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation." id="description"
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" id="titre" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation." id="description"
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" id="titre" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation." id="description"
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>

    <div class="cards-effect border-radius">
      <form action="" class="cards-effect__form">
        <div class="cards-effect__img">
          <img src="../../assets/img/1.png" alt="img-card">
        </div>
        <label for="titre" class="cards-effect__label">Titre</label>
        <input type="text" placeholder="Êtes-vous développeur ?" id="titre" class="cards-effect__input">
        <label for="description" class="cards-effect__label">Description</label>
        <textarea placeholder="Apprendre et connaître des langages de programmation." id="description"
                  class="cards-effect__textarea"></textarea>
        <button type="submit" class="edit">Modifier</button>
        <button type="submit" class="delete">Supprimer</button>
      </form>
    </div>


  </div>

</section>
