//CLEAR
.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both
}

.clear {
  *zoom: 1;
}

//TEXT-ALIGN
.text-align-center {
  text-align: center;
}

//FONT-WEIGHT-LIGHTER
.font-weight-lighter {
  font-weight: lighter;
}

//BORDER-RADIUS
.border-radius {
  border-radius: 5px;
}

//UPPERCASE
.uppercase {
  text-transform: uppercase;
}
