<section class="add">
  <app-navigation></app-navigation>

  <div class="wrap">

    <form action="" class="form">

      <h2 class="form__title font-weight-lighter uppercase">Ajouter une école / une formation</h2>

      <label for="ecole" class="form--label">École</label>
      <input type="text" placeholder="École" id="ecole" class="form--input">

      <label for="formation" class="form--label">Formation</label>
      <input type="text" placeholder="Formation" id="formation" class="form--input">

      <div class="form-buttons">
        <input type="submit" id="submitted" value="Créer" class="form--btn">
      </div>
    </form>

  </div>
</section>
